<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ category.name }}</h4>
  <div class="modal-close p-1 mr-2" (click)="close()">
    <i class="fas fa-times"></i>
  </div>
</div>
<div class="modal-body">
  <div class="row modal-data-container">
    <div class="col-3">
      <div
        class="cat-color"
        [ngStyle]="{ 'background-color': category.color }"
      ></div>
      <span class="data-color text-white-50">{{ category.color }}</span>
    </div>
    <div class="col-9 fs-1 text-center align-middle">{{ category.name }}</div>
    <div class="col-12">{{ category.description }}</div>
  </div>

  <div class="row modal-data-container mt-5">
    <div class="col-12 pins-viewer mb-3">
      <table class="table" *ngIf="pins.length !== 0">
        <thead>
          <tr>
            <th scope="col">Marcador</th>
            <th scope="col" colspan="2">Descripción</th>
            <th scope="col">Terminado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pin of pins">
            <td>{{ pin.name }}</td>
            <td colspan="2">{{ pin.description }}</td>
            <td *ngIf="!pin.finished"></td>
            <td *ngIf="pin.finished" class="text-center">
              <i class="fas fa-check"></i>
            </td>
            <td class="d-flex">
              <button class="btn btn-warning" (click)="editPin(pin)">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger ml-1" (click)="deletePin(pin)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="pins.length === 0">
        <div class="w-100 empty-text text-center">
          <p>
            <i class="fas fa-exclamation-triangle fa-2x mr-1"></i> No hay ningun
            marcador guardado en esta colección
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="edit-btn mt-3 mb-3">
    <div class="row">
      <div class="col-6 d-flex flex-column">
        <button class="btn btn-light m-1" (click)="editCategory()">
          <i class="fas fa-edit"></i>
          Editar colección
        </button>
        <button class="btn btn-light m-1" (click)="showPins()">
          <i class="fas fa-map-signs"></i>
          Mostrar marcadores
        </button>
        <button class="btn btn-light m-1" (click)="shareCategory()">
          <i class="fas fa-share-alt"></i>
          Compartir coleccion
        </button>
      </div>
      <div class="col-6 container-delete">
        <button
          class="btn btn-outline-success float-end"
          (click)="addPin()"
          style="position: absolute"
        >
          <i class="fas fa-plus"></i>
          Añadir marcador
        </button>
        <button
          class="btn btn-outline-danger float-end btn-delete"
          (click)="deleteCategory()"
        >
          <i class="fas fa-trash-alt"></i>
          Eliminar categoría
        </button>
      </div>
    </div>
  </div>
</div>
