<div class="d-grid gap-2">
  <a [href]="twitterShareURL" class="btn btn-outline-info" target="_blank">
    <i class="fab fa-twitter"></i>
    Twitter
  </a>
  <a [href]="whatsAppShareURL" class="btn btn-outline-success" target="_blank">
    <i class="fab fa-whatsapp"></i>
    WhatsApp
  </a>
  <a [href]="facebookShareURL" class="btn btn-outline-primary" target="_blank">
    <i class="fab fa-facebook"></i>
    Facebook
  </a>
  <button type="button" class="btn btn-outline-light" (click)="shareByURL()">
    <i class="fas fa-link"></i>
    Link
  </button>
</div>
