<div id="main-wrapper">
  <app-header (openCategory)="showSidebar($event)"></app-header>
  <app-sidebar
    class="float-end assidenav"
    *ngIf="sidebar"
    (showPinsCollection)="showPinsCollection($event)"
  ></app-sidebar>
  <div class="page-wrapper">
    <app-notification></app-notification>

    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="16"
      [disableDefaultUI]="true"
    >
      <ng-container *ngIf="pinsCollection.length !== 0">
        <agm-marker
          *ngFor="let marcador of pinsCollection; let i = index"
          [latitude]="marcador.lat"
          [longitude]="marcador.lng"
        >
          <!-- <agm-info-window>
          <strong>{{ marcador.titulo }}</strong>
          <p>{{ marcador.desc }}</p>
          <div>
            <button
              (click)="editarMarcador(marcador)"
              mat-raised-button
              color="primary"
            >
              Editar
            </button>
            <button (click)="borrarMarcador(i)" mat-raised-button color="warn">
              Borrar
            </button>
          </div>
        </agm-info-window> -->
        </agm-marker>
      </ng-container>
    </agm-map>
    <!-- TODO: fix z-index for footer -->
    <!-- <app-footer class="f-nav"></app-footer> -->
  </div>
</div>
