<div id="main-wrapper">
  <app-header (openCategory)="showSidebar($event)"></app-header>
  <app-sidebar
    class="float-end assidenav"
    *ngIf="sidebar"
    (showPinsCollection)="showPinsCollection($event)"
  ></app-sidebar>
  <div class="page-wrapper">
    <app-notification></app-notification>

    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="true"
    >
      <agm-marker
        *ngFor="let pin of pinsCollection"
        [latitude]="pin.lat"
        [longitude]="pin.long"
      >
        <agm-info-window>
          <div class="row pin-info w-100">
            <div class="col-12 fs-3">
              <strong>{{ pin.name }}</strong>
            </div>

            <div class="col-12">
              <p>{{ pin.description }}</p>
            </div>

            <div class="col-12 d-flex">
              <span class="mr-2">
                <i
                  class="far fa-check-square fa-2x"
                  *ngIf="pin.finished"
                  (click)="changePinStatus(pin)"
                ></i>
                <i
                  class="far fa-square fa-2x"
                  *ngIf="!pin.finished"
                  (click)="changePinStatus(pin)"
                ></i>
              </span>
              <p class="fs-5">Terminado</p>
            </div>

            <div class="col-12 d-flex justify-content-end">
              <button class="btn btn-secondary" (click)="editPin(pin)">
                Editar
              </button>
              <button class="btn btn-danger ml-3" (click)="deletePin(pin)">
                Borrar
              </button>
            </div>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>
    <!-- TODO: fix z-index for footer -->
    <!-- <app-footer class="f-nav"></app-footer> -->
  </div>
</div>
