<div class="l-navbar" id="nav-bar">
  <div class="nav-item" (click)="openNewCat()">
    <div class="nav-icon"><i class="fas fa-plus"></i></div>
    <div class="section">Nueva categoria</div>
  </div>
  <div class="page">
    <div class="nav-item nav-category" *ngFor="let category of categories">
      <div
        class="cat-color"
        [ngStyle]="{ 'background-color': category.color }"
      ></div>
      <div class="section">{{ category.name }}</div>
    </div>
  </div>
  <div class="nav-item text-center page-selector">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <i
            class="fas fa-chevron-left"
            (click)="previousPage()"
            *ngIf="prev"
          ></i>
        </div>
        <div class="col-4">{{ currentPage }}/{{ totalPages }}</div>
        <div class="col-4">
          <i class="fas fa-chevron-right" (click)="nextPage()" *ngIf="next"></i>
        </div>
      </div>
    </div>
  </div>
</div>
