<div class="l-navbar" id="nav-bar">
  <div class="nav-item pointer" (click)="openNewCat()">
    <div class="nav-icon"><i class="fas fa-plus"></i></div>
    <div class="section">Nueva categoria</div>
  </div>
  <div class="page">
    <div class="nav-item nav-category" *ngFor="let category of categories">
      <div class="row w-100">
        <div class="col-2">
          <div
            class="cat-color pointer"
            [ngStyle]="{ 'background-color': category.color }"
            (click)="showPins(category)"
          ></div>
        </div>
        <div class="col-8">
          <div class="section pointer" (click)="showPins(category)">
            {{ category.name }}
          </div>
        </div>
        <div class="col-2 pointer" (click)="actionCategoryModal(category)">
          <i class="fas fa-ellipsis-h"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-item text-center page-selector">
    <div class="container">
      <div class="row">
        <div class="col-4" *ngIf="!prev"></div>
        <div class="col-4 page-arrow" (click)="previousPage()" *ngIf="prev">
          <i class="fas fa-chevron-left"></i>
        </div>
        <div class="col-4">{{ currentPage }}/{{ totalPages }}</div>
        <div class="col-4" *ngIf="!next"></div>
        <div class="col-4 page-arrow" (click)="nextPage()" *ngIf="next">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>
