.l-navbar {
  border-top: 1px solid gray;
  background-color: #242830;
  height: 92vh;
  overflow: hidden;
  width: fit-content;
  display: flex;
  flex-direction: column;
  z-index: 10000;
}

.nav-item {
  color: #eff1ec;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: large;
  border-bottom: 1px solid #7e8585;
  cursor: pointer;
}

.nav-category {
  height: 7.14%;
}

.cat-color {
  margin-right: 20px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}
.nav-icon {
  margin-right: 20px;
}

.active {
  color: #7e8585 !important;
}

.page {
  height: 81vh;
}
.page-selector {
  border-top: 1px solid #7e8585;
}
