<div class="fixed-bottom">
  <div class="container footer">
    <div class="row">
      <div class="col-4 offset-2">
        <p></p>
        <p>{{ year }}© LOCATORY</p>
      </div>
      <div class="col-5 footer-text p-2">
        <p>Created by Joel Almarza</p>
        <div class="links">
          <a href="https://github.com/JAlmarza98"
            ><i class="fab fa-github"></i
          ></a>
          <a href="https://www.linkedin.com/in/joelalmarza/"
            ><i class="fab fa-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
