/* Gobal */

.cursor-pointer {
  cursor: pointer;
}

/* Modals */

.modal-header {
  background-color: #242830;
  color: white;
}

.modal-body {
  background-color: #242830;
  color: white;
}

.modal-close {
  cursor: pointer;
}

.modal-footer {
  background-color: #242830;
  color: white;
}
